@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 1950px;
}

#nav {
  height: 100px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 300px minmax(100px, auto);
  background-color: rgba(0, 3, 32, 0.801);
  text-align: center;
}

#nav > #title {
    font-size: 2.4em;
    line-height: 50px;
    color: white;
}

#nav > .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container > .button {
  margin-right: 50px;
  background-color:rgba(0, 119, 255, 0.746);
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  transition: color, background-color 250ms ease-out;
}

.button:hover {
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
}

#signInButton {
    font-size: 1.2em;
    padding: 7px 30px;
}

#logOutButton {
    font-size: 1.2em;
    padding: 7px 30px;  
}

#books_information_container {
  width: auto;
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}


#book-list {
    background-color: rgba(69, 227, 245, 0.787);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(255, 255, 255);
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    color: black
}

.description-row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(100px, 3fr)) 1fr;;
    font-size: 1.5em;
    font-weight: bold;
    column-gap: 15px;
    text-align: center;
}

.row {
    display: grid;
    width: 100%;
    margin: 8px 0px;
    grid-template-columns: repeat(5, minmax(100px, 3fr)) 1fr;;
    font-size: 1.5em;
    column-gap: 15px;
    text-align: center;
    transition: all 250ms ease-in-out;
}

.delete-button {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 3em;
    height: 2.4em;
    cursor: pointer;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.delete-button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 12, 12);
    
}

.column {
    border: 3px solid rgb(119, 17, 17);
    background-color: rgb(101, 175, 101);

}

#add-book {
    height: 50px;
    width: 93%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
    cursor: pointer;
    background-color:rgba(0, 68, 255, 0.774);
    color: rgb(255, 255, 255);
    transition: all 150ms ease-in;
}

#add-book:hover {
  color: black;
  background-color:rgba(255, 255, 255, 0.911);
}

.form-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 3, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form {
    position: fixed;
    width: 650px;
    height: 850px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 30px;
    font-size: 1.4em;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 255, 255);
    border: 10px double black;
}

.label {
    font-weight: bold;
}

.input {
    display: block;
    color: rgb(3, 0, 0);
    font-size: 1.2em;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

/*#input4 {
    display: inline-block;
    width: 300px;
    height: 300px;
    font-size: 3rem;
}*/

.range{
    height: 80px;
    /*width: 380px;*/
    width: 380px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    /*margin: 10px 30px;*/
  }

#buttonsContainer {
    display: flex;
    justify-content: space-between;
}

#cancelButton {
    width: 40%;
    height: auto;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border: 4px solid black;
    background-color: red;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

#cancelButton:hover {
    background-color: rgb(185, 0, 0);
    border: 4px solid white;
}

#pushBookButton {
    background-color:rgb(0, 214, 54);
    width: 40%;
    height: auto;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border: 4px solid rgb(0, 3, 1);
    color:rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

#pushBookButton:hover {
    background-color:rgb(0, 149, 37);
    border: 4px solid white;
}

.range {
    width: 570px
}

.sliderValue{
  position: relative;
  width: 100%;
  z-index: 900;
}
.sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  z-index: 900;
}
.sliderValue span.show{
  transform: translateX(-70%) scale(1);
}
.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #664AFF;
  border: 3px solid #fff;
  z-index: -1;
  left: 15%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value{
  position: absolute;
  font-size: 18px;
  color: #664AFF;
  font-weight: 600;
}
.field .value.left{
  left: -22px;
}
.field .value.right{
  right: -43px;
}
.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664AFF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664AFF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #664AFF; /*this progress background is only shown on Firefox*/
}

#information {
  background-color: rgba(0, 32, 121, 0.815);
  color: white;
  padding: 30px;
  height: 85vh;
  display: grid;
  grid-template-rows: 15fr 1fr;
  text-align: center;
}

#information > h2 {
  margin-bottom: 100px;
}

.info {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

#credits {
  font-size: 1.12em;
}

#credits > #mariano {
  color: rgb(255, 90, 90);
  text-decoration: none;
  transition: text-decoration 2200ms ease-in;
}

#credits > #mariano:hover {
  text-decoration: underline;
}