@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#nav {
  position: relative;
  height: 80px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 200px minmax(100px, auto);
  background-color: rgba(0, 3, 32, 0.801);
  text-align: center;
}

#toggle {
  display: none;
} 

#closeInformation {
  display: none;
}

#nav > #title {
    font-size: 1.7em;
    line-height: 40px;
    color: white;
}

#nav > .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container > .button {
  margin-right: 50px;
  background-color:rgba(0, 119, 255, 0.746);
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  transition: color, background-color 250ms ease-out;
}

.button:hover {
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
}

#signInButton {
    font-size: .95em;
    padding: 5px 30px;
}

#logOutButton {
    font-size: 1em;
    padding: 5px 30px;  
}

#books_information_container {
  width: auto;
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}


#book-list {
    background-color: rgba(69, 227, 245, 0.787);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    color: black
}

.description-row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(50px, 3fr)) 1fr;;
    font-size: 1.1em;
    font-weight: bold;
    column-gap: 15px;
    text-align: center;
}

.row {
    display: grid;
    width: 100%;
    margin: 8px 0px;
    grid-template-columns: repeat(5, minmax(50px, 3fr)) 1fr;;
    font-size: 1.2em;
    column-gap: 15px;
    text-align: center;
    transition: all 250ms ease-in-out;
}

.delete-button {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: .7em;
    width: 2.9em;
    height: 2.4em;
    cursor: pointer;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.delete-button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 12, 12);
    
}

.column {
    border: 3px solid rgb(119, 17, 17);
    background-color: rgb(101, 175, 101);

}

#add-book {
    height: 37px;
    width: 93%;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
    cursor: pointer;
    background-color:rgba(0, 68, 255, 0.774);
    color: rgb(255, 255, 255);
    transition: all 150ms ease-in;
}

#add-book:hover {
  color: black;
  background-color:rgba(255, 255, 255, 0.911);
}

.form-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 3, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form {
    position: fixed;
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 30px;
    font-size: 1em;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 255, 255);
    border: 10px double black;
}

.label {
    font-weight: bold;
}

.input {
    display: block;
    color: rgb(3, 0, 0);
    font-size: 1.2em;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

/*#input4 {
    display: inline-block;
    width: 300px;
    height: 300px;
    font-size: 3rem;
}*/

.range{
    height: 70px;
    /*width: 380px;*/
    /* width: 470px; */
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    /*margin: 10px 30px;*/
  }

#buttonsContainer {
    display: flex;
    justify-content: space-between;
}

#cancelButton {
    width: 40%;
    height: auto;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border: 4px solid black;
    background-color: red;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

#cancelButton:hover {
    background-color: rgb(185, 0, 0);
    border: 4px solid white;
}

#pushBookButton {
    background-color:rgb(0, 214, 54);
    width: 40%;
    height: auto;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border: 4px solid rgb(0, 3, 1);
    color:rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

#pushBookButton:hover {
    background-color:rgb(0, 149, 37);
    border: 4px solid white;
}

.sliderValue{
  position: relative;
  width: 100%;
  z-index: 900;
}
.sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  z-index: 900;
}
.sliderValue span.show{
  transform: translateX(-70%) scale(1);
}
.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #664AFF;
  border: 3px solid #fff;
  z-index: -1;
  left: 15%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value{
  position: absolute;
  font-size: 18px;
  color: #664AFF;
  font-weight: 600;
}
.field .value.left{
  left: -22px;
}
.field .value.right{
  right: -43px;
}
.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664AFF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664AFF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #664AFF; /*this progress background is only shown on Firefox*/
}

.information {
  background-color: rgba(0, 32, 121, 0.815);
  color: white;
  padding: 30px;
  height: 80vh;
  display: grid;
  grid-template-rows: 15fr 1fr;
  text-align: center;
}

.informationAdapted {
  background-color: rgba(0, 32, 121, 0.815);
  color: white;
  padding: 30px;
  height: 85vh;
  display: grid;
  grid-template-rows: 15fr 1fr;
  text-align: center;
  /*Clase para responsive design que se usa en el media query*/
}

.information > h2 {
  margin-bottom: 100px;
}


.info {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  text-align: start;
  font-size: .83em;
  font-weight: normal;
}

#credits {
  font-size: .9em;
}

#credits > #mariano {
  position: relative;
  color: rgb(255, 90, 90);
  text-decoration: none;
}

#credits > #mariano::after {
  content: '';
  display: block;
  height: 1.6px;    
  background: rgb(255, 90, 90);
  position: absolute;
  top: 1.2em;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
}

#credits > #mariano:hover::after {
  transform: scale(1, 1);
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 1070px) {
  .add-form {
    font-size: .9em;
    height: 83vh;
    width: 55vw;
  }
}

@media screen and (max-width: 1010px) {
  .add-form {
    font-size: .84em;
    height: 80vh;
  }

  #cancelButton, #pushBookButton {
    margin-top: 5px;
    font-size: 1.74em;
  }
  
  .storeYourDataMessage {
    font-size: .9em;
  }
  .description-row {
    font-size: .9em;
  }

  .row {
    font-size: 1em;
  }
}

@media screen and (max-width: 890px) {
    #newIdForVioletValue {
      color: black;
    }
    #nav > .container {
      width: 95%;
    }

    .storeYourDataMessage {
      font-size: .7em;
    }

    .add-form {
      height: 87vh;
      font-size: .73em;
    }

    #toggle {
      display: none;
      z-index: 100;
    }

    .toggle-label {
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 1.5em;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .toggle-label p, 
    .toggle-label p::before,
    .toggle-label p::after {
      position: relative;
      display: block;
      background-color: #fff;
      height: 3px;
      border-radius: 2px;
      width: 2em;
    }

    .toggle-label p::before,
    .toggle-label p::after {
      content: '';
      position: absolute;
    }

    .toggle-label p::before {
      bottom: 8px;
    }

    .toggle-label p::after {
      top: 8px;
    }

    #closeInformation {
      display: none;
    }

    .closeInformation-label {
      z-index: 100;
      color: #fff;
      position: absolute;
      font-size: 2em;
      font-weight: bold;
      top: 0;
      right: 0;
      margin-right: 1em;
      height: 100%;
      display: none;
      align-items: center;
    }

    #books_information_container {
      display: flex;
    }

    #book-list {
      padding: 10px;
      align-items: flex-start;
      width: 100%;
      height: fit-content;
      color: black
    }

    .information {
      display: none;
    }

    .newInformationContainer {
      display: none;
      z-index: 99;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgba(1, 6, 12, 0.746);
    }

    .informationAdapted {
      z-index: 100;
      display: block;
      background-color: rgba(0, 65, 170, 0.918);
      color: white;
      padding: 30px;
      position: absolute;
      top: 110px;
      right: 240px;
      height: 70vh;
      display: grid;
      grid-template-rows: 15fr 1fr;
      text-align: center;
      width: 350px;
      border: 2px solid rgb(140, 0, 255);
      border-radius: 10px;
      box-shadow: 0px 0px 45px 10px rgba(255, 0, 0, 0.945);
      transition: all 1500ms ease-in;
    }

    
}

@media screen and (max-width: 800px) {
  .add-form {
    width: 60vw;
    height: 60vh;
  }

  .informationAdapted {
    right: 200px;
  }
}

 @media screen and (max-width: 720px) {

  #books_information_container {
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
  }
  
  
  #book-list {
      width: 90%;
  }
  
  .description-row {
      font-size: .9em;
      column-gap: 10px;
  }
  
  .row {
      font-size: 1em;
      column-gap: 10px;
  }
  .add-form {
    width: 70vw;
    height: 71vh;
  }
  .input {
    margin-top: 3px;
    font-size: .73;
  }
  .delete-button {
    font-size: .7em;
    width: 2.7em;
    height: 2.2em;
  } 

  .informationAdapted {
    right: 170px;
  }
}

@media screen and (max-width: 626px) {
    #signInButton {
      font-size: .8em;
      padding: 5px 30px;
  }

  #logOutButton {
      font-size: .8em;
      padding: 5px 30px;  
  }
    .description-row {
      font-size: .77em;
  }
  .add-form {
    width: 75vw;
  }
  .informationAdapted {
    right: 150px;
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
    .description-row {
      font-size: .65em;
  }
  .range {
    height: 40px;
  }
  #cancelButton, #pushBookButton {
    font-size: 1.3em;
  }
  #cancelButton {
    padding: 8px;
  }
  .informationAdapted {
    right: 110px;
  }
}

@media screen and (max-width: 510px) {
  #nav {
    height: 75px;
    grid-template-columns: 150px minmax(100px, auto);
  }
  #nav > #title {
    margin-top: 5px;
    font-size: 1.1em;
    line-height: 30px;
  }
    .description-row {
      font-size: .65em;
  }
  .informationAdapted {
    right: 95px;
  }
  
}

@media screen and (max-width: 480px) {
  
 
  .add-form {
    width: 83vw;
  }
  .description-row {
      font-size: .58em;
  }
  .row {
    font-size: .77em;
  }
  .informationAdapted {
    right: 85px;
    width: 63vw;
  }
}

@media screen and (max-width: 440px) {
     #signInButton {
      font-size: .7em;
      padding: 5px 30px;
  }

  #logOutButton {
      font-size: .7em;
      padding: 5px 30px;  
  } 
  .description-row {
    font-size: .48em;
  } 
  .add-form {
    width: 87vw;
  }
   #cancelButton, #pushBookButton {
     font-size: 1.24em;
   } 
}
@media screen and (max-width: 423px) {
  #books_information_container {
    width: 100%;
    margin: 20px 0px;
  }
  .description-row {
    font-size: .5em;
  } 
  .informationAdapted {
    right: 65px;
    width: 68vw;
  }
  .info {
    font-size: 1em;
  }
}
@media screen and (max-width: 399px) {
    #signInButton {
      padding: 5px 20px;
  }

  #logOutButton {
      padding: 5px 20px;  
  } 
  .description-row {
    font-size: .43em;
  }
  .row {
    font-size: .63em;
  }
  .informationAdapted {
    right: 65px;
    width: 65vw;
    height: 65vh;
  }
  .info {
    font-size: .9em;
  }
}
@media screen and (max-width: 372px) {
  #books_information_container {
    width: 103%;
    margin: 20px 0px;
  }
}
@media screen and (max-width: 367px) {
  .add-form {
    width: 95vw;
  }    
}
@media screen and (max-width: 360px) {
      #signInButton {
        font-size: .7em;
        padding: 5px 30px;
    }

    #logOutButton {
        font-size: .7em;
        padding: 5px 30px;  
    } 
    #books_information_container {
      width: 103%;
      margin: 20px 0px;
    }
    .description-row {
      grid-template-columns: repeat(5, minmax(20px, 3fr)) 1fr;
      font-weight: bold;
      font-size: .42em;
    }
    .row {
      grid-template-columns: repeat(5, minmax(20px, 3fr)) 1fr;
      font-size: .65em;
    }
    .delete-button {
      font-size: .65em;
      width: 2.4em;
      height: 2.6em;
  }
}

@media screen and (max-width: 355px) {
    #signInButton {
      font-size: .7em;
      padding: 5px 30px;
  }

  #logOutButton {
      font-size: .7em;
      padding: 5px 30px;  
  } 
  .add-form {
    height: 78vh;
    padding: 15px;
  }
  .label {
    font-size: .7em;
  }
  .input {
    font-size: .7em;
  }
  #cancelButton, #pushBookButton {
    /* font-size: 1em; */
    padding: 4px;
  }
}